h1 {
font-family: SFProDisplay-Medium;
font-size: 72px;
margin: none;
color: #FFFFFF;
text-align: center;
}

h1.largebuttons {
  font-family: SFProDisplay-Medium;
  font-size: 30px;
  margin: none;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
line-height: normal;
vertical-align: middle;
  }

h1.dark {
  font-family: SFProDisplay-Medium;
  font-size: 45px;
  margin: none;
  color: #000000;
  text-align: left;
  }

.profileHeader {
background: #000000;


}

.profileContainer{
  background-color: #b1b1b1;
  width: 100%;
}
.main {
  width: 75%;
  margin-top: 120px;
  margin-left: auto;
  margin-right:auto;
}

.dashboard_buttons {
  background-color: chocolate;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 150px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.allpatients {
  width: 50%;
  margin-top: 120px;
  margin-left: auto;
  margin-right:auto;
}

.header-container{
  background-color: darkcyan;
  color: white;
  margin: auto;
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.header-dashboard {
  background-color: darkcyan;
  color: white;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
}

.form-content {
  border: 1px solid darkcyan;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.form-inputs {
  width: 90%;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-headings {
  color: #003333;
  text-align: left;
  font-size: large;
  padding-left: 5%;
  }

  .form-container{
    padding-bottom: 10px;
  }

  .info-container {
    border: 3px solid rgb(255, 53, 204);
    margin: auto;
    padding: 0px;
    border-radius: 5px;
    width: 95%;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .search-input {
    width: 40%;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 10px;
  }

  .patient-info {
    background-color: darkcyan;
  }
  .patient-name {
    color: white;
    margin-left: 10%;
    display: flex;
    align-items: center;
  }

  .button {
    margin: 10px;
    margin-left: 50%;
  }

  .textarea {
    width: 98%;
  }

  .cyan-bord {
    border: solid 2px darkcyan;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    
  }

  .flex-row-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2rem;
  }

  .flex-rowrev-cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 2rem;
  }

  .flex-block {
    margin-left: 1.5rem;
  }

  

  .btn-green {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-cyan {
    background-color: darkcyan;
    color: white;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-red {
    background-color: rgb(255, 1, 128);
    color: white;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-blue-border {
    background-color: white;
    color: blue;
    font-size: 14px;
    padding: 12px 28px;
    border: 2px solid blue;
    border-radius: 4px;
    text-decoration: none;
  }
